body{background: #0F0A07;}
.wrap{max-width: 1080px; width: 100%; margin: 0 auto; text-align: center;}
.cont{position: relative;}
.cont:nth-child(1){height: 180.5556vw;}

.close_btn{position: absolute; top: 2.5vw; right: 2.7778vw; max-width: 6.1111vw; width: 100%; z-index: 100;}
.main_tit_wrap{position: absolute; z-index: 10; top: 13.8889vw; left: 50%; transform: translateX(-50%);}
.sub_tit_wrap{width: 100%; position: absolute; z-index: 10; bottom: 22.2222vw; left: 50%; transform: translateX(-50%);}
.sub_tit{max-width: 77.7778vw; width: 100%; margin: 0 auto;}
.namuh_logo{max-width: 43.6111vw; width: 100%; margin: 0 auto 1.3889vw;} 
.black_bg{position: absolute; left: 0; width: 100%; z-index: 10;}
.black_bg_top{top: 0;left: 0;max-height: 70.5556vw;height: 100%;background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, transparent 100%);}
.black_bg_bottom{bottom: 0;left: 0;max-height: 86.6667vw;height: 100%;background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, transparent 100%);}
video{width: 100%; display: block;}
.logo{position: absolute; z-index: 10; top: 20.8333vw;}
.bg_img, .bg_video{height: 180.5556vw; overflow: hidden;}
.bg_img{position: absolute; z-index: 1;}
.bg_video{position: relative; z-index: 2;}

.cont2{padding: 8.3333vw 0;background: #000;}
.cont3{background: #0f0d08;}

.event{width: 80%;
    display: block;
    position: absolute;
    top: 31.7%;
    z-index: 1;
    height: 15.5vw;
    left: 10%;}

.start{
    width: 80%;
    display: block;
    position: absolute;
    top: 35.5%;
    z-index: 1;
    height: 15.5vw;
    left: 10%;
}    


.first, .second{padding: 0 0 411.9444vw;}
.thrid{padding: 0 0 367.2222vw;}
.foruth{padding: 0 0 348.3333vw;}

.second .event{top: 31.5%;}
.second .start{top: 35.3%;}

.thrid .event{top: 36.1%;}
.thrid .start{top: 40.3%;}

.foruth .event{top: 37%;}
.foruth .start{top: 41.4%;}


.event_img{position: absolute; top: 141.6667vw;}
.character{position: absolute; max-width: 26.5000vw; width: 100%; left: 0; top: 99.4444vw; z-index: 1;}
.quiz{position: absolute; top: 121.6667vw;}
.answer{
    width: 77%;
    display: block;
    position: absolute;
    top: 70.3%;
    z-index: 1;
    height: 15vw;
    left: 11%;
}
.hint{
    width: 77%;
    display: block;
    position: absolute;
    top: 76%;
    z-index: 1;
    height: 15vw;
    left: 11%;
}

.cont5{padding: 0 4.4444vw 9.4444vw; background: #023940;}
.swiper_tit{max-width: 53.0556vw; width: 100%;}

.swiper-slide{max-width: 69.4444vw; width: 100%; margin-right: 5.5556vw;}
.swiper-slide:last-child{margin-right: 0;}
.share_btn{max-width: 25vw; width: 100%; margin: 0 auto;}

.top_scroll_btn{max-width: 15vw; width: 100%; position: fixed; bottom: 8.3333vw; left: 82.2222vw; z-index: 10; opacity: 0; pointer-events: none; transition: all 0.2s ease-in-out;}
.top_scroll_btn_on{opacity: 1; pointer-events: all;}



@media (min-width : 650px) {

    .cont:nth-child(1){height: 722.219px;}
    .logo img{width: 75%; margin: 0 auto;}


    .wrap{max-width: 400px;}
    .bg_img, .bg_video{height: 722.219px;}
    .close_btn{max-width: 24.44px; top: 10px; right: 11.111px;}
    .top_scroll_btn{max-width: none;width: 60px;bottom: 33.333px;transform: translateX(190px);right: 50%;left: auto;}


    .black_bg_top{max-height: 282px;}
    .black_bg_bottom{max-height: 347px;}
    .main_tit_wrap{top: 55.556px;}
    .namuh_logo{width: 174.438px;}
    .sub_tit_wrap{bottom: 88.889px;}
    .sub_tit{width: 311.109px;}
    .cont2{padding: 33.333px 0;}
    .logo{top: 83.333px;}
    .character{position: absolute; max-width: 106px; width: 100%; left: 0; top: 398px; z-index: 1;}
    .quiz{top: 463px;}


    .first, .second{padding-bottom: 1647.22px;}
    .thrid{padding-bottom: 1469px;}
    .foruth{padding-bottom: 1392.44px;}



    .event_img{top: 566.667px;}
    .cont5{padding: 0 17.778px 37.778px;}
    .swiper-slide{max-width: 277.766px; margin-right: 22.222px;}
    .swiper_tit{margin-bottom: 33.333px; max-width: 212.219px;}
    .share_wrap{margin-top: 44.444px;}
    .share_btn{max-width: 100px;}

    .event{
        width: 320px;
        height: 62px;
        left: 40px;
        top: 563.438px;
    }

    .start{
        width: 320px;
        height: 62px;
        left: 40px;
        top: 630.969px;
    }


    .second .event{top: 559.875px;}
    .second .start{top: 627.422px;}
    
    .thrid .event{top: 576.344px;}
    .thrid .start{top: 643.766px;}


    .foruth .event{top: 563.484px;}
    .foruth .start{top: 630.5px;}
    

    .answer{
        width: 308px;
        height: 60px;
        top: 772.375px;
        left: 44px;
    }
    .hint{
        width: 308px;
        height: 60px;
        top: 835.797px;
        left: 44px;
    }
}