/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box; text-decoration: none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
img{display: block; width: 100%;}
input, textarea {appearance: none;-webkit-appearance: none;-webkit-border-radius: 0;}
  

/* font-face Pretendard src(경로 변경), format(폰트 확장자) */
/* @font-face {
    font-family: 'Pretendard Variable';
    src: url('') format('');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('') format('');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('') format('');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard Variable';
    src: url('') format('');
    font-weight: 700;
} */




/* position */
.por{position: relative;}
.poa{position: absolute;}
.pof{position: fixed;}

/* width */
.w0{width: 0%;}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}

/* font-size Pretendard */
.P-f10{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 2.7778vw; line-height: 3.8889vw;}
.P-f12{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 3.3333vw; line-height: 5vw;}
.P-f13{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 3.6111vw; line-height: 5.5556vw;}
.P-f14{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 3.8889vw; line-height: 5.5556vw;}
.P-f16{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 4.4444vw; line-height: 6.6667vw;}
.P-f17{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 4.7222vw; line-height: 7.2222vw;}
.P-f19{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 5.2778vw; line-height: 7.7778vw;}
.P-f21{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 5.8333vw; line-height: 8.3333vw;}
.P-f26{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
 font-size: 7.2222vw; line-height: 9.4444vw;}


/* font-size Roboto */
.R-f10{font-family: "Roboto", sans-serif;  font-size: 2.7778vw; line-height: 3.8889vw;}
.R-f12{font-family: "Roboto", sans-serif;  font-size: 3.3333vw; line-height: 5vw;}
.R-f13{font-family: "Roboto", sans-serif;  font-size: 3.6111vw; line-height: 5.5556vw;}
.R-f14{font-family: "Roboto", sans-serif;  font-size: 3.8889vw; line-height: 5.5556vw;}
.R-f16{font-family: "Roboto", sans-serif;  font-size: 4.4444vw; line-height: 6.6667vw;}
.R-f17{font-family: "Roboto", sans-serif;  font-size: 4.7222vw; line-height: 7.2222vw;}
.R-f19{font-family: "Roboto", sans-serif;  font-size: 5.2778vw; line-height: 7.7778vw;}
.R-f21{font-family: "Roboto", sans-serif;  font-size: 5.8333vw; line-height: 8.3333vw;}
.R-f26{font-family: "Roboto", sans-serif;  font-size: 7.2222vw; line-height: 9.4444vw;}


/* font-weight */
.fwt{font-weight: 300;}
.fwr{font-weight: 400;}
.fwm{font-weight: 500;}
.fwb{font-weight: 700;}


/* line-height */
.lhn{line-height: normal;}
.lh10{line-height: 2.7778vw;}
.lh11{line-height: 3.0556vw;}
.lh12{line-height: 3.3333vw;}
.lh13{line-height: 3.6111vw;}
.lh14{line-height: 3.8889vw;}
.lh15{line-height: 4.1667vw;}
.lh16{line-height: 4.4444vw;}
.lh17{line-height: 4.7222vw;}
.lh18{line-height: 5vw;}
.lh19{line-height: 5.2778vw;}
.lh20{line-height: 5.5556vw;}
.lh21{line-height: 5.8333vw;}
.lh22{line-height: 6.1111vw;}
.lh23{line-height: 6.3889vw;}
.lh24{line-height: 6.6667vw;}


/* margin */
.m0{margin: 0;}
.m1{margin: 0.2778vw;}
.m2{margin: 0.5556vw;}
.m3{margin: 0.8333vw;}
.m4{margin: 1.1111vw;}
.m5{margin: 1.3889vw;}
.m6{margin: 1.6667vw;}
.m7{margin: 1.9444vw;}
.m8{margin: 2.2222vw;}
.m9{margin: 2.5vw;}
.m10{margin: 2.7778vw;}
.m15{margin: 4.1667vw;}
.m20{margin: 5.5556vw;}
.m25{margin: 6.9444vw;}
.m30{margin: 8.3333vw;}
.m35{margin: 9.7222vw;}
.m40{margin: 11.1111vw;}

/* margin-top */
.mt0{margin-top: 0;}
.mt1{margin-top: 0.2778vw;}
.mt2{margin-top: 0.5556vw;}
.mt3{margin-top: 0.8333vw;}
.mt4{margin-top: 1.1111vw;}
.mt5{margin-top: 1.3889vw;}
.mt6{margin-top: 1.6667vw;}
.mt7{margin-top: 1.9444vw;}
.mt8{margin-top: 2.2222vw;}
.mt9{margin-top: 2.5vw;}
.mt10{margin-top: 2.7778vw;}
.mt15{margin-top: 4.1667vw;}
.mt16{margin-top: 4.4444vw;}
.mt20{margin-top: 5.5556vw;}
.mt25{margin-top: 6.9444vw;}
.mt26{margin-top: 7.2222vw;}
.mt30{margin-top: 8.3333vw;}
.mt35{margin-top: 9.7222vw;}
.mt40{margin-top: 11.1111vw;}


/* margin-right */
.mr0{margin-right: 0;}
.mr1{margin-right: 0.2778vw;}
.mr2{margin-right: 0.5556vw;}
.mr3{margin-right: 0.8333vw;}
.mr4{margin-right: 1.1111vw;}
.mr5{margin-right: 1.3889vw;}
.mr6{margin-right: 1.6667vw;}
.mr7{margin-right: 1.9444vw;}
.mr8{margin-right: 2.2222vw;}
.mr9{margin-right: 2.5vw;}
.mr10{margin-right: 2.7778vw;}
.mr15{margin-right: 4.1667vw;}
.mr16{margin-right: 4.4444vw;}
.mr20{margin-right: 5.5556vw;}
.mr25{margin-right: 6.9444vw;}
.mr30{margin-right: 8.3333vw;}
.mr35{margin-right: 9.7222vw;}
.mr40{margin-right: 11.1111vw;}


/* margin-bottom */
.mb0{margin-bottom: 0;}
.mb1{margin-bottom: 0.2778vw;}
.mb2{margin-bottom: 0.5556vw;}
.mb3{margin-bottom: 0.8333vw;}
.mb4{margin-bottom: 1.1111vw;}
.mb5{margin-bottom: 1.3889vw;}
.mb6{margin-bottom: 1.6667vw;}
.mb7{margin-bottom: 1.9444vw;}
.mb8{margin-bottom: 2.2222vw;}
.mb9{margin-bottom: 2.5vw;}
.mb10{margin-bottom: 2.7778vw;}
.mb12{margin-bottom: 3.3333vw;}
.mb15{margin-bottom: 4.1667vw;}
.mb16{margin-bottom: 4.4444vw;}
.mb20{margin-bottom: 5.5556vw;}
.mb25{margin-bottom: 6.9444vw;}
.mb30{margin-bottom: 8.3333vw;}
.mb32{margin-bottom: 8.8889vw;}
.mb35{margin-bottom: 9.7222vw;}
.mb40{margin-bottom: 11.1111vw;}
.mb50{margin-bottom: 13.8889vw;}


/* margin-left */
.ml0{margin-left: 0;}
.ml1{margin-left: 0.2778vw;}
.ml2{margin-left: 0.5556vw;}
.ml3{margin-left: 0.8333vw;}
.ml4{margin-left: 1.1111vw;}
.ml5{margin-left: 1.3889vw;}
.ml6{margin-left: 1.6667vw;}
.ml7{margin-left: 1.9444vw;}
.ml8{margin-left: 2.2222vw;}
.ml9{margin-left: 2.5vw;}
.ml10{margin-left: 2.7778vw;}
.ml15{margin-left: 4.1667vw;}
.ml16{margin-left: 4.4444vw;}
.ml20{margin-left: 5.5556vw;}
.ml25{margin-left: 6.9444vw;}
.ml30{margin-left: 8.3333vw;}
.ml35{margin-left: 9.7222vw;}
.ml40{margin-left: 11.1111vw;}


/* padding */
.p0{padding: 0;}
.p1{padding: 0.2778vw;}
.p2{padding: 0.5556vw;}
.p3{padding: 0.8333vw;}
.p4{padding: 1.1111vw;}
.p5{padding: 1.3889vw;}
.p6{padding: 1.6667vw;}
.p7{padding: 1.9444vw;}
.p8{padding: 2.2222vw;}
.p9{padding: 2.5vw;}
.p10{padding: 2.7778vw;}
.p15{padding: 4.1667vw;}
.p20{padding: 5.5556vw;}
.p25{padding: 6.9444vw;}
.p30{padding: 8.3333vw;}
.p35{padding: 9.7222vw;}
.p40{padding: 11.1111vw;}


/* padding-top */
.pt0{padding-top: 0;}
.pt1{padding-top: 0.2778vw;}
.pt2{padding-top: 0.5556vw;}
.pt3{padding-top: 0.8333vw;}
.pt4{padding-top: 1.1111vw;}
.pt5{padding-top: 1.3889vw;}
.pt6{padding-top: 1.6667vw;}
.pt7{padding-top: 1.9444vw;}
.pt8{padding-top: 2.2222vw;}
.pt9{padding-top: 2.5vw;}
.pt10{padding-top: 2.7778vw;}
.pt15{padding-top: 4.1667vw;}
.pt20{padding-top: 5.5556vw;}
.pt25{padding-top: 6.9444vw;}
.pt30{padding-top: 8.3333vw;}
.pt35{padding-top: 9.7222vw;}
.pt40{padding-top: 11.1111vw;}


/* padding-right */
.pr0{padding-right: 0;}
.pr1{padding-right: 0.2778vw;}
.pr2{padding-right: 0.5556vw;}
.pr3{padding-right: 0.8333vw;}
.pr4{padding-right: 1.1111vw;}
.pr5{padding-right: 1.3889vw;}
.pr6{padding-right: 1.6667vw;}
.pr7{padding-right: 1.9444vw;}
.pr8{padding-right: 2.2222vw;}
.pr9{padding-right: 2.5vw;}
.pr10{padding-right: 2.7778vw;}
.pr15{padding-right: 4.1667vw;}
.pr20{padding-right: 5.5556vw;}
.pr25{padding-right: 6.9444vw;}
.pr30{padding-right: 8.3333vw;}
.pr35{padding-right: 9.7222vw;}
.pr40{padding-right: 11.1111vw;}


/* padding-bottom */
.pb0{padding-bottom: 0;}
.pb1{padding-bottom: 0.2778vw;}
.pb2{padding-bottom: 0.5556vw;}
.pb3{padding-bottom: 0.8333vw;}
.pb4{padding-bottom: 1.1111vw;}
.pb5{padding-bottom: 1.3889vw;}
.pb6{padding-bottom: 1.6667vw;}
.pb7{padding-bottom: 1.9444vw;}
.pb8{padding-bottom: 2.2222vw;}
.pb9{padding-bottom: 2.5vw;}
.pb10{padding-bottom: 2.7778vw;}
.pb15{padding-bottom: 4.1667vw;}
.pb20{padding-bottom: 5.5556vw;}
.pb25{padding-bottom: 6.9444vw;}
.pb30{padding-bottom: 8.3333vw;}
.pb35{padding-bottom: 9.7222vw;}
.pb40{padding-bottom: 11.1111vw;}
.pb100{padding-bottom: 27.7778vw;}


/* padding-left */
.pl0{padding-left: 0;}
.pl1{padding-left: 0.2778vw;}
.pl2{padding-left: 0.5556vw;}
.pl3{padding-left: 0.8333vw;}
.pl4{padding-left: 1.1111vw;}
.pl5{padding-left: 1.3889vw;}
.pl6{padding-left: 1.6667vw;}
.pl7{padding-left: 1.9444vw;}
.pl8{padding-left: 2.2222vw;}
.pl9{padding-left: 2.5vw;}
.pl10{padding-left: 2.7778vw;}
.pl15{padding-left: 4.1667vw;}
.pl20{padding-left: 5.5556vw;}
.pl25{padding-left: 6.9444vw;}
.pl30{padding-left: 8.3333vw;}
.pl35{padding-left: 9.7222vw;}
.pl40{padding-left: 11.1111vw;}


/* align */
.ac{text-align: center;}
.al{text-align: left;}
.ar{text-align: right;}
.vm{vertical-align: middle;}
.vt{vertical-align: top;}
.vb{vertical-align: bottom;}


/* color */
.c004{color: #000;}
.c023{color: #333;}
.c013{color: #666;}
.c024{color: #999;}
.c074{color: #c5c5c5;}
.c063{color: #fff;}


.c245{color: #4E5255;}
.c297{color: #EBEDF1;}
.c066{color: #F7F7F7;}
.c051{color: #F9F9F9;}
.c299{color: #FFFFFF; opacity: 0.8;}


.c238{color: #D73838;}
.c239{color: #247EF2;}
.c003{color: #009F83;}
.c056{color: #FFF8F9;}
.c057{color: #F4F9FF;}
.c303{color: #008E7E;}
.c304{color: #73D1A8;}
.c305{color: #DCFBD9;}
.c306{color: #FFA569;}
.c307{color: #FFCD96;}
.c308{color: #FFF0E0;}
.c309{color: #7762DE;}
.c310{color: #B5B3F2;}
.c311{color: #EEEBF5;}
.c312{color: #6FADFF;}
.c313{color: #ADD1FF;}
.c314{color: #E8F2FF;}
.c315{color: #FF7D80;}
.c316{color: #FDB2AC;}
.c317{color: #FFEDEC;}

/* background-color */
.bg297{background: #EBEDF1;}
.bg066{background: #F7F7F7;}
.bg051{background: #F9F9F9;}


.bg_qv296{background: #0E1A49;}
.bg_qv298{background: #0E1A49;}
.bg_qv272{background: #FC6E00;}
.bg_qv022{background: #FFAA1A;}
.bg_qv107{background: #FFAA1A; opacity: 0.7;}
.bg_qv100{background: #FFF4E5;}
.bg_qv273{background: #fff9f0;}



.bg_nm296{background: #2C363B;}
.bg_nm298{background: #2C363B;}
.bg_nm272{background: #3C9800;}
.bg_nm022{background: #84C13D;}
.bg_nm107{background: #84C13D; opacity: 0.6;}
.bg_nm100{background: #F0FAE5;}
.bg_nm273{background: #f9fdf4;}



/* border-color */
.bdc016{border-color: #ADADAD;}
.bdc017{border-color: #E0E0E0;}
.bdc025{border-color: #F0F0F0;}
.bdc087{border-color: #F5F5F5;}



/* popup */
.popup_back{display: none;}
.popup_back_on{display: block; background: #000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.6;}
.popup_wrap{position: fixed; top: 200%; left: 0; transition: all 0.4s ease-in; width: 100%; background: #fff; border-top-left-radius: 5.5556vw; border-top-right-radius: 5.5556vw; transform: translateY(-100%);}
.popup_btn_text{padding-bottom: 11.1111vw}
.popup_btn_text p::before{content: ''; display: block; background: #666; border-radius: 50%; width: 0.5556vw; height: 0.5556vw; position: absolute; top: 2.7778vw; left: 0.2778vw;}
.popup_stroke{ height: 0.2778vw; background: #E0E0E0;}
.check_box{padding: 4.4444vw; display: flex; border: 0.2778vw solid #F0F0F0; border-radius: 2.7778vw; margin: 0 5.5556vw;}
.check_box.check_box_on{border-color: #84C13D;}
.check_box_img{width: 5vw; height: 5vw; margin-right: 1.6667vw;}
.check_box_img_on{display: none;}
.popup_btn_wrap{display: flex; position: relative;}
.popup_btn{text-align: center; padding: 3.3333vw 0;}
.btn_cancel{width: 30%; color: #333; background: #E0E0E0;}
.btn_okay{width: 70%; background: #84C13D; color: #fff;}
.btn_fade{position: absolute;right: 0;bottom: 0;width: 70%;height: 100%;background: #fff;opacity: 0.6;display: block;}
.mH0{max-height: 0vh !important;}
.mH100{max-height: 200vh !important;}


/* add_btn */
.add_btn{display: flex; justify-content: center; align-items: center; position: relative; background: #f1f1f1; max-width: 91.1111vw; width: 100%; border-radius: 2.7778vw; padding: 2.7778vw 0; text-align: center; margin: 0 auto 2.7778vw;}
.add_btn2{display: none;}
.add_btn_img{ max-width: 3.3333vw; width: 100%; margin-right: 1.6667vw; }
.add_btn_wrap .text{color: #999; text-align: center;}
.kid_delete{display: none; background: #fff; border: 0.2778vw solid #E0E0E0;}
.add_btn_arrow_up, .add_btn_arrow_down{max-width: 3.3333vw; width: 100%; margin-left: 1.6667vw; display: none;}
.btn_on{display: block;}

/* bottom_btn */
.sum_btn{position: fixed; width: 100%; left: 0; bottom: 0; padding: 3.3333vw 0;background: #84C13D; color: #fff;border-radius: 0px !important;pointer-events: initial;text-align: center;}
.off{opacity: 0.6; pointer-events: none;}


/* input_box */
.input_box_wrap{overflow: hidden; transition: all 0.2s ease-in; max-width: 100vh;}
.input_box{padding : 0 4.4444vw 8.3333vw;}
.input_box2{max-height: 0vh; overflow: hidden;}
.input_tag{position: relative;display: inline-block;}
.input_tag::after{content: ''; display: block; position: absolute; background: url(../img/ndsw_icon_ess_h10.png); width: 2.9639vw; height:2.9639vw; background-size: contain;right: -2.7778vw;top: 0;}
input[type="text"]{position: relative; display: block;-webkit-appearance: none;width: 100%;border: none;border-bottom: 1px solid #E0E0E0;padding: 2.2222vw 0;color: #000;}
input[type="text"]::placeholder{color: #C5C5C5; font-weight: 400 !important;}
input:focus{border-bottom: 1px solid #000;outline: none; font-family: "Pretendard Variable", Pretendard !important;}
.input_text_wrap{position: relative;}
.input_text_delete{display: none; position: absolute; max-width: 4.1667vw; height: 4.1667vw; width: 100%; right: 1.8056vw; bottom: 3.4722vw;}
.input_text_delete_on{display: block;}


/* input_[type="radio"] */
.radio_box{display: flex;justify-content: space-between;}
.age_input{display: none;}
.age_btn{display: inline-block;text-align: center;padding: 2.3611vw 2.7778vw;border: 0.2778vw solid #e0e0e0;border-radius: 8px;max-width: 28.8889vw;width: 100%;}
.age_input:checked + label{border: 0.2778vw solid #000; font-weight: 700;}
.age_input:checked + label span{font-weight: 700;}

/* input[type="file"] */
input[type=file]{display: none;}
.file_box{display: flex; justify-content: space-between; margin-top: 2.7778vw;}
.file_btn{display: block;position: relative;max-width: 44.4444vw;width: 100%;color: #666666;border: 0.2778vw solid #e0e0e0;border-radius: 2.2222vw;}
.plus{width: 8.3333vw;height: 8.3333vw;margin: 0 auto;margin-bottom: 2.7778vw;}
.file_text{text-align: center;}
.upload_img{position: absolute; height: 100%;}
.upload_img img{height: 100%; border-radius: 2.2222vw;}
.fade_img{max-width: 44.4444vw; width: 100%; height: 44.4444vw;position: absolute; right: 0; top: 0;}
.img_delete{position: absolute;width: 6.6667vw;height: 6.6667vw;top: 2.5vw;right: 2.5vw;}


/* text-area */
.input_text_area{padding: 5.5556vw; border: 1px solid #E0E0E0; max-width: 91.1111vw; width: 100%;box-sizing: border-box; border-radius: 2.2222vw; height: 44.4444vw;}
textarea:focus{border-color: #000;outline: none;}
textarea::placeholder{font-weight: 400 !important; color: #C5C5C5;}
.textarea_wrap{position: relative; margin: 2.7778vw 0 0;}
.text_length{position: absolute;right: 5.5556vw;bottom: 5.5556vw;}
.label_text{padding: 11.1111vw 2.7778vw;}





